<h3>Ключевая фраза</h3>
<p>UTM TERM – необязательный параметр, содержащий в себе ключевое слово кампании. При использовании этого параметра в статистике
  будут собираться данные по тем ключевым словам, которые вы используете для таргетинга вашей рекламной кампании (а не по
  поисковым запросам). В Google Ananlytics содержимое метки utm_term попадает в единый отчет с поисковыми запросами.</p>
<p>Когда есть весь список запросов пользователей, по которым они переходили на сайт, можно проверить соответствие поискового
  запроса ключевому слову и выявить нецелевые запросы (не соответствующие тематике сайта).</p>
<p>Существует несколько вариантов использования данного тега:</p>
<p>Заполнение тега транслитерированной ключевой фразой из поисковой системы</p>
<mat-list>
  <mat-list-item>utm_term=kupit_odnokomnatnuju_kvartiru</mat-list-item>
</mat-list>
<p>Этот вариант гарантирует, что данные в Google Analytics будут переданы без искажений (если использовать кириллицу в любом
  из тегов - то появляется вероятность, что для части переходов Google Analytics не сможет корректно распознать кодировку
  и данные в отчетах будут неточными).</p>
<p>Заполнение тега динамической переменной &#123;keyword&#125; - чтобы Яндекс.Директ сам в момент клика подставлял ключевую фразу (не
  путать с поисковым запросом).</p>
<mat-list>
  <mat-list-item>utm_term=&#123;keyword&#125;</mat-list-item>
</mat-list>
<p>Данный вариант позволяет сократить трудозатраты на разметку, но чреват частично неточными данными в отчетах.</p>

