<div fxFill fxLayout="row wrap" fxLayoutAlign="start start">
  <h1>Компоновщик UTM меток</h1>

  <h3 fxFlex="100">Сайт</h3>
  <mat-form-field fxFlex="100" [floatLabel]="auto">
    <mat-label>Введите адрес сайта</mat-label>
    <input matInput placeholder="https://example.com">
  </mat-form-field>

  <h3 fxFlex="100">UTM метки</h3>

  <app-utm-input
    *ngFor="let utm of utms; first as isFirst"
    fxFlex="15"
    [fxFlexOffset]="isFirst ? 0 : 6.25"
    [utmName]="utm.name"
    [utmOptions]="utm.options"
    [utmPlaceholder]="utm.placeholder"
  ></app-utm-input>

  <h3 fxFlex="100">Результат</h3>
  <mat-form-field fxFlex="100">
    <mat-label>Ссылка с utm метками</mat-label>
    <input matInput value="">
  </mat-form-field>
</div>
