<h3>Название кампании</h3>
<p>UTM CAMPAIGN – это метка обозначает название рекламной кампании (например, chernaya-pyatnica). Обязательный параметр при
  формировании URL. В данную метку можно также поместить сведения о группе или любую другую нужную информацию.</p>
<p>Общая рекомендация по заполнению - по данному полю необходимо без труда понимать, к какой конкретно кампании в рекламной
  системе конкретный переход пользователя относится. Проще всего транслитерировать полное название рекламной кампании в системе.
  Например:
</p>
<mat-list>
  <mat-list-item><mat-icon>navigate_next</mat-icon><p>utm_campaign=kommercheskaya_nedvizhimost_mo</p></mat-list-item>
</mat-list>
<p>Также, хорошей практикой является вписывание в значение параметра utm_campaign id рекламной кампании в рекламной системе,
  тогда тег будет выглядеть так:</p>
<mat-list>
  <mat-list-item><mat-icon>navigate_next</mat-icon><p>utm_campaign=kommercheskaya_nedvizhimost_mo+2345678</p></mat-list-item>
</mat-list>
