<h3>Источник трафика</h3>
<p>UTM SOURCE — это источник трафика. Обязательный параметр при формировании URL. Метка передает информацию о том, из какого
  рекламного источника осуществляются переходы на ваш сайт. Источником трафика может быть что угодно — поисковая система,
  социальная сеть, e-mail-рассылка, сохраненный файл, мобильное приложение и так далее. Так как в Google Analytics содержимое
  метки utm_source попадает в отчет «Источники», то логичнее всего использовать разметку в подобном формате и в качестве
  значения брать доменное имя (или доменное имя с обрезанной доменной зоной)</p>
<p>Примеры:</p>
<mat-list>
  <mat-list-item>
    <mat-icon>navigate_next</mat-icon>
    <p>utm_source=google</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>navigate_next</mat-icon>
    <p>utm_source=yandex</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>navigate_next</mat-icon>
    <p>utm_source=mail.ru</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>navigate_next</mat-icon>
    <p>utm_source=vk.com</p>
  </mat-list-item>
</mat-list>
