<div fxFill fxLayout="row wrap" fxLayoutAlign="start start">

  <h1 fxFlex="100">Проверить код виджета</h1>
  <mat-form-field floatLabel="auto" fxFlex="20">
    <mat-label>Введите ID виджета</mat-label>
    <input matInput placeholder="224" type="numer" [(ngModel)]="wid">
  </mat-form-field>
  <button mat-icon-button (click)="build()">
    <mat-icon>check</mat-icon>
  </button>

  <div fxLayout="column" fxFlex="100">
    <div [innerHTML]="dynamicNumber"></div>
    <div [innerHTML]="dynamicNumber"></div>
    <div [innerHTML]="dynamicNumber"></div>
    <div [innerHTML]="dynamicNumber"></div>
    <a [href]="telDynamicNumber" [innerHTML]="dynamicNumber"></a>
  </div>

</div>
