<h3>Что такое UTM метки?</h3>
<p>UTM метки — это параметры (переменные) содержащие дополнительные данные, которые добавляются к URL целевой страницы (landing
  page) и позволяют передать в системы веб-аналитики дополнительную информацию о характеристиках трафика. Впервые появились
  utm-метки в системе Urchin (позже Google Analytics). При использовании utm-меток можно отследить и проанализировать большинство
  источников трафика</p>
<p>Как выглядят utm-метки?</p>
<p>Например, при переходе на сайт с объявления на поисковой выдаче Google, ссылка может выглядеть так:</p>
<mat-list>
  <mat-list-item>
    <mat-icon>navigate_next</mat-icon>
    <p>http://mysite.ru/?utm_source=google&utm_medium=cpc&utm_campaign=google_adwords</p>
    </mat-list-item>
</mat-list>
<p>UTM метки бывают обязательные (utm_source, utm_medium, utm_campaign) и необязательные (utm_term, utm_content).</p>
