<h3>Как это работает?</h3>
<p>Пользователь размещает на своём сайте код Universal Analytics, который собирает статистику по всем действиям пользователя
  на сайте и определяет, каким образом пользователь попал на сайт. Эта статистика поведения пользователей на сайте клиента
  постоянно передаётся в сервис UA, где пользователь может ознакомиться со всеми действиями своих посетителей, их переходами
  и с множеством другой статистики. Остаётся только связать завершающее действие посетителя (Звонок) с его активностью на
  сайте. Для этого пользователь сервиса подключает в своём личном кабинете коллтрекинг, копирует полученный код и размещает
  его на своём сайте на месте номера телефона. Теперь все посетители сайта будут видеть уникальные номера телефонов, которые
  присвоены именно им, чтобы иметь возможность связать их онлайн и оффлайн действия. Т.е. например, посетитель Иван Иваныч
  увидит на сайте пользователя номер 7 495 678 65 63, а посетитель Петр Петрович увидит номер 7 495 223 27 25. Если посетитель
  сайта совершит звонок, то Динамический коллтрекинг автоматически определит пользователя, перенаправит звонок в ВАТС клиента,
  зарегистрирует это событие и передаст данные о звонке в Google Analytics нашего клиента. Далее клиент в своем аккаунте
  Google Analytics может посмотреть отчет и увидеть с каких рекламных объявлений, по каким ключевым звонкам, с каких каналов
  рекламы сколько звонков совершают клиенты в его компанию. Проанализировав данные в Google Analytics о количестве звонков,
  клиент может определить неэффективные и эффективные объявления или рекламные компании и перенаправить рекламный бюджет
  на наиболее конверсионный рекламный канал.
</p>
<img fxFlex="100" src="/assets/calltracking.png">
